
<nav class="navbar">
    <ul class="navbar-menu">
      <li><a href="<%= isLoggedIn ? '/auth/homepage' : '/' %>">Home</a></li>
      <li class="dropdown">
        <a href="<%= isLoggedIn ? '/auth/homepage' : '/' %>">Categories</a>
        <ul class="dropdown-menu">
          <% categories.forEach(category => { %>
            <li><a href="/category/<%= category._id %>"><%= category.name %></a></li>
          <% }) %>
        </ul>
      </li>
      <li><a href="<%= isLoggedIn ? '/auth/shop' : '/shop' %>">Shop</a></li>
      <li><a href="<%= isLoggedIn ? '/auth/blog' : '/blog' %>">Blog</a></li>
    </ul>
    <div class="logo">
      <i class='bx bxs-castle'></i><h1>Kids Kastle</h1>
    </div>
    <div class="navbar-right">
      <div class="navbar-search">
        <input type="text" placeholder="Search...">
        <button type="submit"><i class="bx bx-search"></i></button>
      </div>
      <div class="navbar-icons">
        <a href="<%= isLoggedIn ? 'javascript:void(0);' : '/auth/login' %>" id="user-icon"><i class="bx bx-user"></i></a>
        <% if (isLoggedIn && userDatabase) { %>
          <div class="user-info" id="user-info" style="display: none;">
            <a href="/auth/profile"><p>Hello, <%= userDatabase.firstName %></p></a>
            <a href="/auth/logout" id="logout-button">Log out</a>
          </div>
        <% } %>
        <a href="<%= isLoggedIn ? '/auth/wishlist' : '/wishlist' %>"><i class="bx bx-heart"></i></a>
        <a href="<%= isLoggedIn ? '/auth/cart' : '/cart' %>"><i class="bx bx-cart"></i></a>
      </div>
    </div>
  </nav>
  
