<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My coupons</title>
  <link rel="stylesheet" href="/css/user/coupon.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <style>
    /* Add any additional styles here if necessary */
  </style>
</head>
<body>

  
  <%- include('../partials/header') %>
  <div class="profile-container">
    <div class="profile-header">
      <h2>Hello, <%= userDatabase.firstName %></h2>
    </div>
    
    <nav class="profile-nav">
      <ul>
        <li><a href="/auth/profile" >Profile</a></li>
        <li><a href="/auth/addresses">Addresses</a></li>
        <li><a href="/auth/order">Orders</a></li>
        <li><a href="/auth/wallet">Wallet</a></li>
        <li><a href="/auth/coupon" class="active">Coupons</a></li>
        <li><a href="/auth/reviewsRatings">Reviews</a></li>
        <li><a href="/auth/changePassword">Password</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="coupon-container">
        <% coupon.forEach(coupon => { %>
        <div class="coupon-card">
          <div>
            <h3><%= coupon.description %></h3>
            <h5>Offer: <%= coupon.discount %> %</h5>
          </div>
    
          <div class="coupon-row">
            <span id="cpnCode" class="coupon-code"><%= coupon.couponCode %></span>
            <button class="cpnBtn copy-btn">COPY CODE</button>
          </div>
    
          <h5>Min amount: ₹ <%= coupon.minAmount %> to get this offer</h5>
          <h5>Max amount: This offer is valid for orders upto ₹ <%= coupon.maxAmount %> </h5>
          <p>Valid Till: <%= new Date(coupon.expiryDate).toLocaleDateString() %></p>
    
          
        </div>
        <br>
        <% }) %>
      </div>
    </div>
    
  </div>

  <footer>
    <p>&copy; <%= new Date().getFullYear() %>  kids kastle</p>
  </footer>
  

  <script>
   

    document.addEventListener('DOMContentLoaded', function() {
  let cpnBtn = document.querySelectorAll('.cpnBtn');
  cpnBtn.forEach(btn => {
    btn.addEventListener('click', function() {
      let cpnCode = this.previousElementSibling;
      console.log("Coupon Code:", cpnCode.innerHTML); 
      navigator.clipboard.writeText(cpnCode.innerHTML)
        .then(() => {
          this.innerHTML = 'COPIED';
          setTimeout(() => {
            btn.innerHTML = 'COPY CODE';
          }, 3000);
        })
        .catch(err => {
          console.error("Failed to copy: ", err);
        });
    });
  });
});


  </script>

</body>
</html>
