<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
 
  
  <!-- Boxicons -->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
 

</head>
<body>


  <%- include('../partials/header') %>
 


  <!-- Banner Section -->
  <section class="banner">
    <img src="/image/ban1.jpeg" alt="Banner Image">
  </section>
  
  <div class="new-arrivals">
    <h1>NEW ARRIVALS</h1>
  </div>
  

  <section class="products">
    <% products.forEach(product => { %>
      <div class="product">
        <div class="product-image-container">
          <a href="/auth/product/<%= product._id %>">
            <% if (product.image && product.image.length > 0) { %>
              <img src="<%= product.image[0] %>" alt="Product Image" class="product-image">
            <% } else { %>
              No Image
            <% } %>
          </a>
          <i class="bx bx-heart heart-icon"></i>
        </div>
        <h3><a href="/product/<%= product._id %>"><%= product.name %></a></h3>
        <p>₹<%= product.price %> (<%= product.discount %>% off)</p>
        <p><%= product.description %></p>
      </div>
    <% }); %>
</section>


<%- include('../partials/footer') %>









</body>
</html>
